.aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  .rightSearch {
    position: relative;
    .searchIcon {
      position: absolute;
      left: 12px;
      top: 6px;
    }
    input {
      width: 312px;
      height: 37px;
      border: 1px solid rgba(222, 226, 230, 1);
      padding-left: 52px;
      font-size: 16px;
      &::placeholder {
        text-indent: 52px;
        font-size: 16px;
      }
    }
  }
  .sidebar {
    max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
    overflow-y: auto;
    position: sticky;
    padding-top: 7px;
  }
  .sidebarItemTitle {
    margin-bottom: 3px;
  }
  .sidebarItemList {
    display: flex;
  }
  .sidebarItem {
    cursor: pointer;
    margin-top: 1px;
    color: var(--sub-text-color-5);
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;

    &:hover,
    &.active {
      // background-color: var(--ifm-menu-color-background-active);
      background-color: var(--title-text-color);
      color: var(--sub-text-color-6);
    }
  }
}
html[data-theme="dark"] {
  .sidebarItem {
    &:hover,
    &.active {
      color: var(--active-color);
    }
  }
}
