.meetTheCommunity {
  position: relative;
  height: 929px;
  margin-top: 70px;
  .bgImg {
    width: 810px;
    height: 810px;
    margin: auto;
    background-image: url("/img/home/grid-rect.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .title {
    position: absolute;
    top: 80px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 64px;
    font-weight: 700;
    line-height: 81px;
    p {
      color: #fff;
      margin-bottom: 0;
    }
  }
  .item {
    position: absolute;
    &.commits {
      left: 347px;
      top: 393px;
    }
    &.contributors {
      right: 347px;
      top: 393px;
    }
    .num {
      font-size: 100px;
      font-weight: bold;
      font-style: italic;
      background-image: linear-gradient(
        to left,
        #9ee8ee 0%,
        #f78013 55%,
        #9f8ced 97%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .desc {
      font-size: 20px;
      margin-top: -20px;
    }
  }
  .contributorList {
    display: grid;
    width: 1090px;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: auto;
    gap: 20px 23px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    .contributorItem {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid rgba(255, 178, 25, 1);
    }
  }
}
