.tipsWrap {
  margin: 0 auto;
  color: #fff;
  width: 100%;
  .tipsContent {
    background: linear-gradient(90deg, #ffa800 0%, #fb750b 35.48%);
    height: 37px;
    width: 100%;
    line-height: 37px;
    position: relative;
    text-align: center;
    .text {
      span {
        vertical-align: middle;
      }
      img {
        vertical-align: middle;
      }
    }
    .close {
      position: absolute;
      right: 10px;
      top: 0;
      cursor: pointer;
    }
  }
}
