.contentLayout {
  padding: 0 var(--mobile-padding-width);
}
.main {
  // max-width: 896px;
  width: 100%;

  &.blogList {
    .breadcrumbs {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .listWrap {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
  }
  &.blogDetail {
    margin: 0 auto;
    .breadcrumbs {
      margin-top: 20px;
      display: flex;
      align-items: self-start;
    }
  }
  @media screen and (max-width: 1440px) {
    &.blogList {
      .listWrap {
        gap: 15px;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    &.blogList {
      .listWrap {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  @media screen and (max-width: 768px) {
    &.blogList {
      .listWrap {
        grid-template-columns: 1fr;
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .contentLayout {
    width: calc(100vw);
  }
}
