.tryItOut {
  width: var(--global-main-width);
  /* width: 1092px; */
  margin: 0 auto;
  color: #fff;
  position: relative;
  .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 108px;
    margin-top: 80px;
    text-align: center;
  }
  .rectList {
    display: grid;
    grid-template-columns: 530px 530px;
    gap: 32px;
    justify-content: center;

    .rectItem {
      padding: 20px;
      box-sizing: border-box;
      width: 530px;
      border: 1px solid #a1aebf;
      .itemTitle {
        font-size: 28px;
        font-weight: 600;
      }
      .itemContent {
        color: #728095;
        word-break: break-all;
      }
      .itemImg {
        margin-top: 24px;
      }
    }
  }
  .lineL {
    background-image: url(/img/home/try-it-out/line-l.svg);
    background-repeat: no-repeat;
    width: 316.56px;
    height: 309px;
    top: 260px;
    position: absolute;
    left: -43px;
  }
  .lineR {
    background-image: url(/img/home/try-it-out/line-r.svg);
    background-repeat: no-repeat;
    width: 316.56px;
    position: absolute;
    height: 309px;
    top: 29px;
    right: 30px;
  }
  .circle {
    width: 83px;
    height: 83px;
    background-image: url(/img/home/try-it-out/circle.svg);
    position: absolute;
    top: 20px;
    left: 150px;
  }
}
